body {
    width: 1488px;
    height: 1430px;
    background-color: #E5E5E5;
}

.block_1 {
    display: inline-block;
    margin-left: 24px;
    background: #0B2239;
    width: 1440px;
}

.p_block_1 {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
    width: 900px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    vertical-align: middle;
}

.a_block_1 {
    display: inline-block;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4AD295;
}

.butt_block_1 {
    display: inline-block;
    margin: 18px 120px 18px 20px;
    height: 36px;
    background: #4AD295;
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.block_2 {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #2B2627;
}

.img_block_2_1 {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 345.5px;
    vertical-align: middle;
}

.p_block_2 {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

.a_block_2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

.img_block_2_2 {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 20px;
    margin-top: 18px;
    margin-bottom: 18px;
    vertical-align: middle;
}

.block_3 {
    display: inline-block;
    margin-top: 72px;
    margin-left: 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 560px;
}

.icon_block_3 {
    display: inline-block;
    margin-left: 16px;
    margin-top: 18px;
    margin-bottom: 18px;
    border-radius: 10px;
    background-color: rgba(234, 76, 137, 0.1);
    vertical-align: middle;
}

.img_block_3_1 {
    display: inline-block;
    margin: 8px;
}

.p_block_3 {
    display: inline-block;
    width: 320px;
    margin-left: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0D0C22;
    vertical-align: middle;
}

.a_block_3 {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #EA4C89;
}

.butt_block_3_1 {
    display: inline-block;
    margin-left: 10px;
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 4px 10px;
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #0D0C22;
}

.butt_block_3_2 {
    display: inline-block;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: 16px;
    margin-left: 10px;
    background: #EA4C89;
    border-radius: 8px;
    padding: 4px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.block_4 {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 904px;
    height: 64px;
    border-radius: 10px;
    background-color: #26262B;
    width: 560px;
}

.p_block_4 {
    display: inline-block;
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    width: 469px;
    vertical-align: middle;
}

.a_block_4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #E6842E;
    text-decoration: none;
}

.butt_block_4 {
    display: inline-block;
    margin-left: 10px;
    margin-top: 18px;
    margin-bottom: 18px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 4px 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #26262B;
}

.block_5 {
    display: inline-block;
    margin-top: 72px;
    margin-left: 24px;
    width: 360px;
    background-color: rgba(28, 37, 64, 0.95);
    border-radius: 6px;
}

.img_block_5 {
    display: inline-block;
    margin-top: 24px;
    margin-left: 24px;
}

.p_block_5_1 {
    display: inline-block;
    margin-top: 10px;
    margin-left: 24px;
    margin-right: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.a_block_5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.p_block_5_2 {
    display: inline-block;
    margin-top: 24px;
    margin-left: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.butt_block_5 {
    display: inline-block;
    margin-left: 67px;
    margin-top: 16px;
    margin-bottom: 24px;
    background: #09B3AF;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 20px;
}

.block_6 {
    display: inline-block;
    width: 360px;
    margin-top: 72px;
    margin-left: 40px;
    border-radius: 16px;
    background-color: #FFFFFF;
    vertical-align: top;
}

.img_block_6 {
    display: inline-block;
    margin-top: 16px;
    margin-left: 16px;
}

.p_block_6 {
    display: inline-block;
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #687F8C;
}

.butt_block_6_1 {
    display: inline-block;
    width: 160px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    background: #EAF0F4;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #687F8C;
    padding: 8px;
}

.butt_block_6_2 {
    display: inline-block;
    width: 160px;
    margin-top: 16px;
    margin-left: 8px;
    margin-bottom: 16px;
    background: #40C1A7;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px;
}

.block_7_8 {
    vertical-align: top;
}

.block_7 {
    display: inline-block;
    width: 320px;
    margin-top: 72px;
    margin-left: 24px;
    border-radius: 20px;
    background-color: #FFFF;
    text-align: center;
}

.h_block_7 {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: 108px;
    margin-right: 108px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    color: #15295A;
}

.p_block_7 {
    display: inline-block;
    margin-top: 0;
    margin-left: 32px;
    margin-right: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #15295A;
}

.butt_block_7 {
    display: inline-block;
    margin-bottom: 32px;
    background: #4A7EFF;
    border-radius: 43px;
    padding: 10px 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.block_8 {
    display: inline-block;
    width: 320px;
    margin-left: 40px;
    border-radius: 4px;
    background-color: #ffff;
}

.p_block_8 {
    display: inline-block;
    margin-top: 16px;
    margin-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.a_block_8 {
    display: inline-block;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6666FF;
    text-decoration: none;
}

.butt_block_8 {
    display: inline-block;
    width: 64px;
    margin-left: 129px;
    margin-bottom: 16px;
    background: #6666FF;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px;
}